<div class="create_field" style="font-size: 1.75rem;">
    All Courses
</div>
<div class="create_field" [routerLink]="['/course']" routerLinkActive="router-link-active" >
    My creation Courses
</div>
    <mat-grid-list cols="2" rowHeight="2:1">
            <mat-card *ngFor="let item of AllCourses" >
                <span class="course_name" (click)="check(item.id, item.name)">{{item.name}}</span>
                <mat-card-actions>
                    <button mat-button>Details</button>
                </mat-card-actions>
            </mat-card>
    </mat-grid-list>