<div class="create_field" style="font-size: 1.75rem;">
    All Courses
</div>
<div class="create_field" [routerLink]="['course']" routerLinkActive="router-link-active" >
    My creation Courses
</div>
<div class="search_field"  >
    <form [formGroup]="searchForm" class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0" style="font-size: 1rem;">
          <input #textbox type="text" class="form-control mr-sm-2" formControlName="name" placeholder="Search" (keyup.enter)="search()" style="font-size: 1.25rem;">
          <mdb-icon fas icon="search" aria-hidden="true" (click)="search()"></mdb-icon>
        </div>
      </form>
</div>
    
    <div class="SearchPage-result js-setResult" data-item-id="210854689" *ngFor="let item of AllCourses" style="background-color: #ffffff;" >
      <div class="SetPreviewLink" *ngIf="isSearch">
        <div class="UILinkBox">
          <div class="UILinkBox-inner">
            <div class="SetPreview">
              <div class="SetPreview-inner">
                <div class="PreviewCardByline"><span class="SetPreview-cardBylineTermsCount">86 thu&#7853;t ng&#7919;</span><span class="UIVerticalRule UIVerticalRule--onWhite"></span>
                  <div class="SetPreview-cardBylineCreator">
                    <div class="UserLink">
                      <div class="UserLink-inner">
                        
                        <div class="UserLink-content"><a class="UILink" (click)="check(item.id, item.name)" title="Th&#259;m h&#7891; s&#417; c&#7911;a quizlette7098644"><span class="UserLink-username">quizlette7098644</span></a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <header class="SetPreview-cardHeader"><span class="SetPreview-cardHeaderTitle">{{item.name}}</span></header>
                <div class="SetPreviewLink-metadata">
                  <div class="SetPreviewLink-priceTag">
                    <h4 class="UIHeading UIHeading--four"></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="TermsPreview">
          <div class="UILinkBox-link"><a class="UILink" data-sourcename="" (click)="check(item.id, item.name)" title=" {{item.name}} "></a></div>
        </div>
      </div>
    </div>
    </div>
    <div *ngIf="!isSearch">
      <div class="EmptySearchPage">
          <div class="SearchHeader SearchHeader--isEmpty">
            <div class="container">
              <h1 class="SearchHeader-title">Tìm trên Quizlet</h1>
              <h2 class="SearchHeader-titleSetup">
                  Bạn có thể tìm thấy các học phần, các lớp học hoặc những người dùng khác. </h2>
            </div>
          </div>
        
          <div class="EmptySearchPage-container container">
            <div class="EmptySearchPage-content">
              <main class="page" id="page" role="main" itemscope="" itemprop="mainContentOfPage">
                <div class="EmptySearch">
                  <div class="EmptySearch-components">
                    <div class="EmptySearch-componentsRow">
        
                      <div class="EmptySearch-componentWrapper">
                        <div class="EmptySearchComponent">
                          <div class="EmptySearchComponent-inner">
                            <header class="EmptySearchComponent-header">
                              <svg class="UIIcon UIIcon--flashcards EmptySearchComponent-icon">
                                <use xlink:href="#flashcards"></use>
                              </svg>
                              <h2 class="EmptySearchComponent-title">Học phần</h2>
                            </header>
        
                            <p class="EmptySearchComponent-explanation">Tìm thấy nội dung bài học do hàng triệu người dùng trên Quizlet tạo ra về bất cứ chủ đề nào.</p>
                          </div>
                        </div>
                      </div>
                      <div class="EmptySearch-componentWrapper">
                        <div class="EmptySearchComponent">
                          <div class="EmptySearchComponent-inner">
                            <header class="EmptySearchComponent-header">
                              <svg class="UIIcon UIIcon--class EmptySearchComponent-icon">
                                <use xlink:href="#class"></use>
                              </svg>
                              <h2 class="EmptySearchComponent-title">Lớp học</h2>
                            </header>
        
                            <p class="EmptySearchComponent-explanation">Tham gia lớp học trên Quizlet cùng với bạn bè, bạn cùng lớp hoặc giáo viên của bạn.</p>
                          </div>
                        </div>
                      </div>
                      <div class="EmptySearch-componentWrapper">
                        <div class="EmptySearchComponent">
                          <div class="EmptySearchComponent-inner">
                            <header class="EmptySearchComponent-header">
                              <svg class="UIIcon UIIcon--profile EmptySearchComponent-icon">
                                <use xlink:href="#profile"></use>
                              </svg>
                              <h2 class="EmptySearchComponent-title">Người dùng</h2>
                            </header>
        
                            <p class="EmptySearchComponent-explanation">Tìm thấy các học phần do bạn bè, bạn cùng lớp hay giáo viên của bạn tạo ra.</p>
                          </div>
                        </div>
                      </div>
        
                    </div>
                  </div>
                </div>
              </main>
            </div>
          </div>
        </div>
    </div>
  
