<div class="create_field">
    Bài học: {{nameLession}}
</div>

<mat-card>
    <mat-card-title>
        Thêm/Sửa từ mới
    </mat-card-title>
    <mat-card-content>
    <form [formGroup]="form" class="form">
      <mat-form-field  class="form-element">
        <input matInput placeholder="Định nghĩa" formControlName="name" class="inputt"
        >
      </mat-form-field>
      <mat-form-field  class="form-element">
        <input matInput placeholder="Nghĩa tiếng Việt" formControlName="vn" class="inputt">
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput placeholder="Nghĩa tiếng Anh" formControlName="en" class="inputt">
      </mat-form-field>
    </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="Save()">Save</button>
        <button mat-button (click)="Cancel()">Cancel</button>
    </mat-card-actions>
</mat-card>
<br>
<div class="list-word">
    -- All words --
</div>

<div class="wrapper">
    <mdb-carousel [interval]="false" >
        <mdb-carousel-item  *ngFor="let item of words">
            <div class="card">
                <input type="checkbox" id={{item.name}} class="more" aria-hidden="true">
                <div class="content">
                    <div class="front" >
                        <div class="inner">
                            <h2>{{item.name}}</h2>
                            <label for="{{item.name}}" class="button" aria-hidden="true">
                                Details
                            </label>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <h4>
                                Vietnamese: {{item.vn}}
                                <br><br><br><br>
                                English: {{item.en}}
                            </h4>
                            <label for="{{item.name}}" class="button return" aria-hidden="true">
                                <i class="fas fa-arrow-left"></i>
                            </label>
                        </div>
                    </div>
                </div>
           </div>
        </mdb-carousel-item>
      </mdb-carousel>
</div>

<mat-grid-list cols="2" rowHeight="2:1" *ngFor="let item of words">
    <mat-card class="word-card">
        <mat-card-title class="word-title">
            {{item.name}}
        </mat-card-title>
        <mat-card-content class="word_content">
            <mat-grid-list cols="2" rowHeight="10:1" class="word_mean">
                <mat-grid-tile>{{item.vn}}</mat-grid-tile>
                <mat-grid-tile>{{item.en}}</mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="Edit(item.id, item.name, item.vn, item.en)">Edit</button>
            <button mat-button (click)="Delete(item.id)">Delete</button>
        </mat-card-actions>
    </mat-card>
</mat-grid-list>