<body class="assistant learn learn mode none-selected all-terms has-no-footer qad-is-showing flex-sidebar theme-default" itemscope="" itemtype="http://schema.org/WebPage">
 
    <main class="page" id="page" role="main" itemscope="" itemprop="mainContentOfPage">
      <div id="AssistantModeTarget">
        <div class="StudyModesLayout">
          <div class="ModeLayout is-showingAdz">
            <div class="UIContainer">
              <div class="ModeLayout-controls" style="top: 80px;">
                <div class="LearnControls LearnControls--noBorderBottom">
                  <div class="ModeControls">
                    <aside class="ModeControls-sidebar">
                      <div class="ModeControls-back"><a class="UILink" data-testid="UILink-anchor" href="https://quizlet.com/vn/419257876/it-flash-cards/"><svg aria-label="wedge (left)" class="UIIcon UIIcon--wedge-left ModeControls-backIcon UIIcon--large" role="img">
                            <use xlink:href="#wedge-left"></use>
                          </svg><span class="ModeControls-backText"><span>Trở về học phần</span></span></a></div>
                      <div class="ModeControls-main">
                        <div aria-labelledby="modeControls-modeLabel-HỌC" class="ModeControls-modeName">
                          <div class="UIModeIcon UIModeIcon--assistant UIModeIcon--small"><svg aria-label="mode assistant small" class="UIIcon UIIcon--mode-assistant-small UIModeIcon-modeIcon" role="presentation">
                              <use xlink:href="#mode-assistant-small"></use>
                            </svg></div><span id="modeControls-modeLabel-HỌC">HỌC</span>
                          <div class="ModeControls-blurTop"></div>
                        </div>
                        
                        <div class="ModeControls-progress">
                          <div class="ModeControls-progressSection">
                            <div class="ProgressBuckets">
                              <div aria-label="CÒN LẠI: 82" class="ProgressBuckets-bucket">
                                <div aria-hidden="true">
                                  <div class="UILabelledItem">
                                    <div class="UILabelledItem-item">
                                      <h4 class="UIHeading UIHeading--four">{{conlai}}</h4>
                                    </div>
                                    <div class="UILabelledItem-label">
                                      <div class="ProgressBuckets-label">
                                        <h6 class="UIHeading UIHeading--six">CÒN LẠI</h6>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                        </div>
                        <div class="ModeControls-actions">
                          <div class="ModeControls-blurBottom"></div>
                          <div class="ModeControls-action"><button aria-label="Tùy chọn" class="UIButton UIButton--whiteBorder UIButton--fill" type="button"><span class="UIButton-wrapper"><svg aria-label="options" class="UIIcon UIIcon--options" role="img">
                                  <use xlink:href="#options"></use>
                                </svg><span>Tùy chọn</span></span></button></div>
                        </div>
                      </div>
                    </aside>
                    <div class="SignupCurtainModal"></div>
                  </div>
                </div>
              </div>
              <div class="ModeLayout-content">
                <div class="LearnViewController LearnViewController--withProgressBar" data-testid="panelContent">
                  <div class="ProgressBar">
                    <div class="ProgressBar-progress" data-testid="ProgressBar-progress" style="width: 0%;"></div>
                  </div><span></span><span>
                    <div class="MultipleChoiceQuestionPrompt">
                      <div class="ScrollableViewLayout">
                        <div class="ScrollableViewLayout-topBlur"></div>
                        <div class="ScrollableViewLayout-content">
                          <div class="MultipleChoiceQuestionPrompt-inner">
                            <div class="MultipleChoiceQuestionPrompt-promptArea">
                              <div class="MultipleChoiceQuestionPrompt-prompt" role="definition" tabindex="0">
                                <div class="PromptTextWithImage" data-testid="question-prompt">
                                  <div class="FormattedTextWithImage">
                                    <div aria-label="thi hành" class="FormattedText notranslate lang-vi" style="font-size: 30px;">
                                      <div style="display: block;">{{currentes.ans.name}}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="MultipleChoiceQuestionPrompt-options">
                              <div class="MultipleChoiceQuestionPrompt-termOptions">
                                <div (click) = "bambne(0)"aria-label="tùy chọn 1, câu trả lời, Implement" class="MultipleChoiceQuestionPrompt-termOption" data-testid="option-1" role="button" tabindex="0">
                                  <div class="MultipleChoiceQuestionPrompt-keyboardHint">
                                    <div class="UIKeyboardHint is-white"><span class="UIKeyboardHint-text is-white">1</span></div>
                                  </div>
                                  <div class="MultipleChoiceQuestionPrompt-termOptionInner">
                                    <div class="FormattedTextWithImage">
                                      <div aria-label="Implement" class="FormattedText notranslate lang-en">{{currentes.arr[0].word.eN}}</div>
                                    </div>
                                  </div>
                                </div>
                                <div (click) = "bambne(1)" aria-label="tùy chọn 2, câu trả lời, efficient" class="MultipleChoiceQuestionPrompt-termOption" data-testid="option-2" role="button" tabindex="0">
                                  <div class="MultipleChoiceQuestionPrompt-keyboardHint">
                                    <div class="UIKeyboardHint is-white"><span class="UIKeyboardHint-text is-white">2</span></div>
                                  </div>
                                  <div class="MultipleChoiceQuestionPrompt-termOptionInner">
                                    <div class="FormattedTextWithImage">
                                      <div aria-label="efficient" class="FormattedText notranslate lang-en">{{currentes.arr[1].word.eN}}</div>
                                    </div>
                                  </div>
                                </div>
                                <div  (click) = "bambne(2)"aria-label="tùy chọn 3, câu trả lời, Prevail" class="MultipleChoiceQuestionPrompt-termOption" data-testid="option-3" role="button" tabindex="0">
                                  <div class="MultipleChoiceQuestionPrompt-keyboardHint">
                                    <div class="UIKeyboardHint is-white"><span class="UIKeyboardHint-text is-white">3</span></div>
                                  </div>
                                  <div class="MultipleChoiceQuestionPrompt-termOptionInner">
                                    <div class="FormattedTextWithImage">
                                      <div aria-label="Prevail" class="FormattedText notranslate lang-en">{{currentes.arr[2].word.eN}}</div>
                                    </div>
                                  </div>
                                </div>
                                <div (click) = "bambne(3)" aria-label="tùy chọn 4, câu trả lời, Component" class="MultipleChoiceQuestionPrompt-termOption" data-testid="option-4" role="button" tabindex="0">
                                  <div class="MultipleChoiceQuestionPrompt-keyboardHint">
                                    <div class="UIKeyboardHint is-white"><span class="UIKeyboardHint-text is-white">4</span></div>
                                  </div>
                                  <div class="MultipleChoiceQuestionPrompt-termOptionInner">
                                    <div class="FormattedTextWithImage">
                                      <div aria-label="Component" class="FormattedText notranslate lang-en">{{currentes.arr[3].word.eN}}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="ScrollableViewLayout-bottomBlur"></div>
                      </div>
                    </div>
                  </span><span></span>
                </div>
              </div>
              <div class="ModeLayout-ad">
                <div class="SiteAd SiteAd--AssistantLearnSidebar SiteAd--">
                  <div class="SiteAd-adContainer" id="dfp-AssistantLearnSidebar"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    
  
  <div id="lbdictex_find_popup" class="lbexpopup hidden" style="position: absolute; top: 0px; left: 0px;">
    <div class="lbexpopup_top">
      <h2 class="fl popup_title">&nbsp;</h2>
      <ul>
        <li><a class="close_main popup_close" href="#">&nbsp;</a></li>
      </ul>
      <div class="clr"></div>
    </div>
    <div class="popup_details"></div>
    <div class="popup_powered">abc</div>
  </div>
  <div id="lbdictex_ask_mark" class="hidden" style="position: absolute; top: 0px; left: 0px;"><a class="lbdictex_ask_select" href="#">&nbsp;</a></div>
  
  <div>
    <div class="NotificationContainer"><span></span></div>
  </div>
  
</body>