
h1,
h2,
p {
  margin: 0;
  padding: 0;
}
header,
main {
  display: block;
}
.container {
  clear: both;
  margin: 0 auto;
  max-width: 1300px;
}
#page {
  float: left;
  width: 100%;
}
::selection {
  background: #c5f1f1;
}
::-moz-selection {
  background: #c5f1f1;
}
.page {
  background: var(--ui_color_gray_90_background);
}
/*! CSS Used from: https://assets.quizlet.com/a/c/search.91103edae434afc.css */
.EmptySearchComponent {
  padding: 0 1.25rem;
  text-align: center;
  width: 100%;
}
.EmptySearchComponent-inner {
  background: var(--ui_color_white_background);
  min-height: 15rem;
  padding: 1.25rem 1.5rem;
  width: 100%;
}
.EmptySearchComponent-header {
  float: left;
  padding: 0.625rem 0;
  width: 100%;
}
.EmptySearchComponent-title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.2;
  margin-top: 0.625rem;
}
@media screen and (max-width: 38.75em) {
  .EmptySearchComponent-title {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.111111111111111;
  }
}
.EmptySearchComponent-icon {
  color: var(--ui_brand_color);
  font-size: 3.125rem;
}
.EmptySearchComponent-explanation {
  color: var(--ui_color_default_foreground);
  margin-bottom: 0.625rem;
}
body.empty.search .page {
  background: none;
}
.EmptySearchPage {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.EmptySearchPage-container {
  padding-top: 50px;
}
.EmptySearchPage-content {
  min-height: 55vh;
  padding: 0 20px;
}
.EmptySearch {
  text-align: center;
}
.EmptySearch-components {
  display: inline-block;
  margin: 0 auto;
  max-width: 975px;
  padding-bottom: 20px;
  width: 100%;
}
.EmptySearch-componentsRow {
  clear: both;
  *zoom: 1;
  float: left;
  width: 100%;
}
.EmptySearch-componentsRow:after,
.EmptySearch-componentsRow:before {
  content: "";
  display: table;
}
.EmptySearch-componentsRow:after {
  clear: both;
}
.EmptySearch-componentWrapper {
  float: left;
  margin-bottom: 40px;
  width: 33.333333333333336%;
}
@media screen and (max-width: 48em) {
  .EmptySearch-componentWrapper {
    width: 100%;
  }
}
.SearchHeader {
  *zoom: 1;
  padding-top: 20px;
}
.SearchHeader:after,
.SearchHeader:before {
  content: "";
  display: table;
}
.SearchHeader:after {
  clear: both;
}
.SearchHeader .container {
  max-width: 975px;
}
.SearchHeader.SearchHeader--isEmpty {
  padding-top: 0;
}
.SearchHeader.SearchHeader--isEmpty .container {
  padding: 30px 16px;
}
.SearchHeader-title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.266666666666667;
}
@media screen and (max-width: 38.75em) {
  .SearchHeader-title {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 1.153846153846154;
  }
}
.SearchHeader-titleSetup {
  margin-top: 0.625rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.2;
}
@media screen and (max-width: 38.75em) {
  .SearchHeader-titleSetup {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.111111111111111;
  }
}
/*! CSS Used from: https://assets.quizlet.com/a/c/ui.ce84388801ff0fc.css */
*,
:after,
:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
[class^="UI"] {
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "alt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.UIIcon {
  display: inline-block;
  fill: currentColor;
  height: 1rem;
  width: 1rem;
}
body {
 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', Tahoma, Arial, sans-serif;
    line-height: 1.5;
    font-size: 13px;
  }
  
  #search {
    outline: 0;
    float: left;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  
  #search > .textbox {
    outline: 0;
    height: 42px;
    width: 244px;
    line-height: 42px;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    float: left;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }
  
  #search > .textbox:focus {
    outline: 0;
    background-color: rgb(245, 245, 245);
  }
  
  #search > .button {
    outline: 0;
    background: none;
    background-color: rgba(38, 50, 56, 0.8);
    float: left;
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 0;
    color: #FFF;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
  }
  
  #search > .button:hover {
    background-color: rgba(55, 248, 229, 0.8);
  }
  /*! CSS Used from: https://assets.quizlet.com/a/c/global.5a8293b1b61ec34.css */
h1 {
    margin: 0;
    padding: 0;
  }
  ::selection {
    background: #c5f1f1;
  }
  ::-moz-selection {
    background: #c5f1f1;
  }
  /*! CSS Used from: https://assets.quizlet.com/a/c/search.91103edae434afc.css */
  #SearchPage-query-header-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    width: 100%;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  .SearchPage-query-header {
    font-weight: var(--typography-heading-weight);
    font-size: 2.75rem;
    letter-spacing: normal;
    line-height: 1.272727272727273;
  }
  @media screen and (max-width: 38.75em) {
    .SearchPage-query-header {
      font-weight: var(--typography-heading-weight);
      font-size: 2rem;
      letter-spacing: normal;
      line-height: 1.25;
    }
  }
  @media screen and (max-width: 64em) {
    .SearchPage-query-header-buffer {
      display: none;
    }
  }
  .SearchPage-filterControls {
    min-width: 10.625rem;
    margin-right: 2rem;
  }
  /*! CSS Used from: https://assets.quizlet.com/a/c/ui.ce84388801ff0fc.css */
  *,
  :after,
  :before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
  /*! CSS Used from: https://assets.quizlet.com/a/c/global.5a8293b1b61ec34.css */
h4,
h5 {
  margin: 0;
  padding: 0;
}
header {
  display: block;
}
::selection {
  background: #c5f1f1;
}
::-moz-selection {
  background: #c5f1f1;
}
a,
a:visited {
  color: var(--blue_color);
}
a {
  text-decoration: none;
}
img {
  border: none;
}
a {
  cursor: pointer;
}
.UserLink {
  display: inline-block;
  white-space: nowrap;
}
.UserLink-inner {
  display: -webkit-flex;
  display: flex;
}
.UserLink-avatar,
.UserLink-content {
  vertical-align: middle;
}
.UserLink-content {
  padding-left: 0.375rem;
}
.UserLink-content .UILink {
  vertical-align: middle;
}
.UserLink-username {
  margin-right: 0.5rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.285714285714286;
}
@media screen and (max-width: 38.75em) {
  .UserLink-username {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.333333333333333;
  }
}
.UserAvatar {
  overflow: hidden;
  background: transparent no-repeat top;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.04);
  background-size: cover;
  border-radius: 100%;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 0;
  padding: 0;
  transform: translateZ(0);
  vertical-align: middle;
}
.TermText {
  -webkit-font-smoothing: antialiased;
}
.lang-vi,
.TermText.lang-vi {
  font-size: 1.1em;
  font-family: Lucida Grande, Arial, sans-serif !important;
}
/*! CSS Used from: https://assets.quizlet.com/a/c/search.91103edae434afc.css */
.SetPreview {
  display: -webkit-flex;
  display: flex;
  position: relative;
}
.SetPreview-inner {
  position: relative;
  width: 100%;
}
.SetPreview-cardBylineCreator {
  margin-left: 0.25rem;
}
.SetPreview-cardBylineCreator .UserLink-username {
  font-size: 0.875rem;
  line-height: 1;
  vertical-align: top;
}
.SetPreview-cardBylineCreator {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  word-break: break-all;
  z-index: 201;
}
.SetPreview-cardHeader {
  word-break: break-all;
  margin-top: 0.125rem !important;
}
.SetPreview-cardHeaderTitle {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.2;
  word-break: normal;
  word-wrap: break-word;
}
@media screen and (max-width: 38.75em) {
  .SetPreview-cardHeaderTitle {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.111111111111111;
  }
}
.SetPreviewLink,
.SetPreviewLink .UILinkBox,
.SetPreviewLink .UILinkBox-inner {
  height: 100%;
}
.SetPreviewLink .UILinkBox-inner {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.SetPreviewLink-metadata {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  margin-top: 0.25rem;
  position: absolute;
  right: 0;
  top: 0;
}
.SetPreviewLink-priceTag {
  color: var(--ui_brand_color);
  margin-left: 0.5rem;
}
.PreviewCardByline {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.285714285714286;
}
@media screen and (max-width: 38.75em) {
  .PreviewCardByline {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.333333333333333;
  }
}
.UserAvatar {
  overflow: hidden;
  background: transparent no-repeat top;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.04);
  background-size: cover;
  border-radius: 100%;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 0;
  padding: 0;
  transform: translateZ(0);
  vertical-align: middle;
}
.UserLink {
  display: inline-block;
  white-space: nowrap;
}
.UserLink-inner {
  display: -webkit-flex;
  display: flex;
}
.UserLink-avatar,
.UserLink-content {
  vertical-align: middle;
}
.UserLink-content {
  padding-left: 0.375rem;
}
.UserLink-content .UILink {
  vertical-align: middle;
}
.UserLink-username {
  margin-right: 0.5rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.285714285714286;
}
@media screen and (max-width: 38.75em) {
  .UserLink-username {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.333333333333333;
  }
}
@media screen and (max-width: 38.75em) {
  .TermsPreview {
    display: none;
  }
}
.TermsPreview-definitions,
.TermsPreview-words {
  display: table;
  table-layout: fixed;
  width: 100%;
}
@media screen and (max-width: 38.75em) {
  .TermsPreview-definitions,
  .TermsPreview-words {
    display: none;
  }
}
.TermsPreview-words {
  border-top: 0.125rem solid var(--ui_color_gray_90_foreground);
}
.TermsPreview-definition,
.TermsPreview-word {
  display: table-cell;
  font-weight: 400 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 0.75rem;
  letter-spacing: 0.05375rem;
  line-height: 1.333333333333333;
  letter-spacing: 0 !important;
}
@media screen and (max-width: 38.75em) {
  .TermsPreview-definition,
  .TermsPreview-word {
    font-weight: 600;
    font-size: 0.625rem;
    letter-spacing: 0.0625rem;
    line-height: 1.2;
  }
}
* + .TermsPreview-definition,
* + .TermsPreview-word,
.TermsPreview-definition + *,
.TermsPreview-definition + .TermsPreview-definition,
.TermsPreview-word + *,
.TermsPreview-word + .TermsPreview-word {
  border-left: 0.125rem solid var(--ui_color_gray_90_foreground);
}
@media screen and (max-width: 64em) {
  .TermsPreview-definition:nth-child(4),
  .TermsPreview-word:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 48em) {
  .TermsPreview-definition:nth-child(3),
  .TermsPreview-word:nth-child(3) {
    display: none;
  }
}
.TermsPreview-word {
  color: var(--terms_preview_word_color);
  padding: 1rem 1.25rem 0;
}
@media screen and (max-width: 38.75em) {
  .TermsPreview-word {
    padding: 0.75rem 1rem 0;
  }
}
.TermsPreview-definition {
  color: var(--terms_preview_definition_color);
  padding: 0.25rem 1.25rem 1rem;
}
@media screen and (max-width: 38.75em) {
  .TermsPreview-definition {
    padding: 0.25rem 1rem 1rem;
  }
}
.TermsPreview-mobilePreview {
  display: none;
}
.SearchPage-results {
  min-height: 37.5rem;
}
.SearchPage-results .SearchPage-result {
  border-radius: 0.5rem;
  background-color: var(--card-background);
}
.SearchPage-results .SearchPage-result .UILinkBox {
  border-radius: 0.5rem;
}
@media screen and (max-width: 48em) {
  .SearchPage-results {
    min-height: 0;
  }
}
.SearchPage-results .UIHeading--five {
  margin-bottom: 1.5rem;
}
.SearchPage-result + .SearchPage-result {
  margin-top: 1rem;
}
/*! CSS Used from: https://assets.quizlet.com/a/c/ui.ce84388801ff0fc.css */
*,
:after,
:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
[class^="UI"] {
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "alt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.UIHeading--four {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.2;
}
@media screen and (max-width: 38.75em) {
  .UIHeading--four {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.111111111111111;
  }
}
.UIHeading--five {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.0875rem;
  line-height: 1.5;
}
@media screen and (max-width: 38.75em) {
  .UIHeading--five {
    font-weight: 700;
    font-size: 0.9375rem;
    letter-spacing: 0.0875rem;
    line-height: 1.6;
  }
}
.UIHeading {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.UILinkBox {
  background-color: var(--card-background);
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
  position: relative;
  transition: all 0.12s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.UILinkBox-link {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}
.UILinkBox-link .UILink {
  border-bottom: 0.3125rem solid hsla(0, 0%, 100%, 0);
  transition: all 0.12s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.UILinkBox-link .UILink:active,
.UILinkBox-link .UILink:focus,
.UILinkBox-link .UILink:hover {
  border-bottom-color: #ffcd1f;
}
.UILinkBox-link a.UILink {
  border-radius: 0.25rem;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.UILinkBox-inner {
  padding: 0.75rem 1.25rem;
}
@media screen and (max-width: 38.75em) {
  .UILinkBox-inner {
    padding: 0.75rem 1rem;
  }
}
.UILinkBox-inner .UILink {
  position: relative;
  z-index: 200;
}
.UILink {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: initial;
  border: none;
  cursor: pointer;
  display: inline;
  font: inherit;
  margin-top: 0;
  outline: none;
  padding: 0;
  font-size: 0.875rem;
  line-height: 1.285714285714286;
  font-weight: 600;
  transition: all 0.12s cubic-bezier(0.47, 0, 0.745, 0.715);
}
@media screen and (max-width: 38.75em) {
  .UILink {
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.333333333333333;
  }
}
.UILink,
.UILink:visited {
  color: #3ccfcf;
}
.UILink:active,
html.cursor .UILink:hover,
html.cursor .UILink:hover:visited {
  color: #ffcd1f;
}
.UILink::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.UIVerticalRule--onWhite {
  border-right: 0.125rem solid var(--ui_color_gray_90_foreground);
}
.UIVerticalRule--onWhite {
  display: inline-block;
  height: 1rem;
  margin-right: 0.625rem;
  padding-right: 0.625rem;
  vertical-align: middle;
}
